


<!--<form>
  <input placeholder="Name" id="nameForm" />
  <button type="submit">Start!</button>
</form>
<div id="time">

</div>
<br />
<div id="names">

</div>
<div id="counter">

</div>-->

<button class="start">Start Button</button>
<button class="stop" onclick>Win Button</button>
<button clas="reset">Game Over Button</button><br />
<div class="timer">



<span class="stopwatchMin">
  00
</span>

<span>
  :
</span>
<span class="stopwatch">
  00
</span>
<span>
  :
</span>
<span class="stopwatchMil">
00
</span>
</div>
<form class="name">
  <label class="label">Enter your name to enter the leaderboard!</label>
  <input placeholder="Name" type="text" class="nameInput" />
  <button type="submit" class="nameSubmit button secondary">Sweet!</button>
</form>
<br />
<table>
  <tr class="leaderHeader">
    <th>
      Names
    </th>
    <th>
      Times
    </th>
  </tr>
  <tbody class="leaderboard">


  </tbody>

</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
