body{
  background-color: #0d0d0d;

}
.timer{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-size: 108px;
  color: white;

}
.leaderboard{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  text-align:center;
  color:white;
  background-color: #1a1a1a;
}
.leaderHeader{
  font-size: 40px;
  color:white;
}
table{
border-collapse: collapse

}
th{
  font-family: 'Roboto', sans-serif;
  background-color: #0d0d0d;
}
tr:nth-of-type(even){
    background-color: black;
    color: black;
}
tr:nth-of-type(odd){
  background-color: #1a1a1a;

}
.name{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.nameInput{
  font-family: 'Roboto', sans-serif;
  color:black;
  background-color:white;

}
input:focus{
  background-color:#0d0d0d;
}
.label{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 25px;
  background-color: #0d0d0d;
  padding: 10px;
}
.nameSubmit{

}
.message{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 50px;
  text-align:center;

}
